*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 50px 40px;
}
 img{
  width:100%;
  height:auto;
  border-radius: 5px;

}
.container{
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.row{
  display: flex;
  gap: 15px;
}
h1{
  color: rgb(247, 11, 247);
  text-shadow: 5px;
  font-size: 70px;
  padding:  20px;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid: gap 30px;
  background-color: blueviolet;
}
.col{
  display:grid;
  flex-direction: column;
  gap: 20px;
}









@media screen and(max-width:750px){
  .row{
    flex-direction: column;
  }
  h1{
    font-size: 50px;
  }
}